body {
    /* background-color: black; */
    margin: 0 auto;
}



.headerTitle {
    background-color: aqua;
    grid-area: header;
}

.mainContent {
    background-color: red;
    grid-area: main;
}

.sidebar {
    background-color: blue;
    grid-area: sidebar;
}


#content {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar main main";
        /* "sidebar main main"; */
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.2fr 2fr;
  
    
}