body {
    /* background-color: black; */
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}



.headerTitle {
   border-bottom: 4px black solid;
   grid-area: header;
}

.pageTitleDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

.h3Div {
    background-color: aqua;
}



.mainContent {
    
    grid-area: main;
}

.sidebar {
    
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-content: center; */
    border-right: 4px aliceblue solid;
}


.sidebar p {
    padding-left: 20px;
    font-size: 30px;
    
}

.sidebar li {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    
}

.projectItems {
    margin-top: -30px;
    
}

.sidebar li:hover {
    cursor: pointer;
    color: antiquewhite;
}


#content {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar main main";
        /* "sidebar main main"; */
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: 0.325fr 2fr;
    grid-template-rows: 0.2fr 2fr;
  
    
}